PORT=4000
AUTH_SECRET=change-this-long-random-secret
AUTH_SALT=change-this-static-salt
BOOTSTRAP_OPERATOR_EMAIL=
BOOTSTRAP_OPERATOR_PASSWORD=
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
BOOTSTRAP_AGENCY_EMAIL=
BOOTSTRAP_AGENCY_PASSWORD=
BOOKING_RATE_LIMIT_MAX=20
BOOKING_RATE_LIMIT_WINDOW_MS=900000
LOGIN_RATE_LIMIT_MAX=25
LOGIN_RATE_LIMIT_WINDOW_MS=900000
